{% extends 'catalog/base.html' %}

{% load static %}

{% block content %}
<div class="card-body" style="background-color: #f2ddda">

    <div class="container-fluid">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: #ad916c" href="{% url 'blog:list' %}"> <<< Назад </a>
            </li>
        </ul>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ object.article_image | media_filter}}" class="img-thumbnail"
                     alt="{{ object.article_image }}">
            </div>
            <div class="col-md-6">
                <h5 class="card-title text-secondary">{{ object.article_name }}</h5>
                <p class="card-text text-secondary">{{ object.article_content }}</p>
                <p class="card-text text-secondary"><small>Создано {{ object.created_at }} Просмотров: {{ object.views_count }}</small></p>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>

</main>
<br>
<br>
<br>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-2" style="color: #dbcd9e">
            <p class="text-center">В ы с о к и й с т и л ь</p>
        </h1>
    </div>
</div>

<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>

</body>

</html>
{% endblock %}
