<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'catalog:home' %}">Главная </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'catalog:instructor' %}">Тренерский состав </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'catalog:contact' %}">Контакты </a>
        </li>
    </ul>
</div>