{% extends 'catalog/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/static/images/instructor_1.jpg" class="img-thumbnail" alt="instructor_1">
        </div>
        <div class="col-md-4">
            <img src="/static/images/instructor_2.jpg" class="img-thumbnail" alt="instructor_2">
        </div>
        <div class="col-md-4">
            <img src="/static/images/instructor_3.jpg" class="img-thumbnail" alt="instructor_3">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img src="/static/images/instructor_4.jpg" class="img-thumbnail" alt="instructor_4">
        </div>
        <div class="col-md-4">
            <img src="/static/images/instructor_5.jpg" class="img-thumbnail" alt="instructor_5">
        </div>
        <div class="col-md-4">
            <img src="/static/images/instructor_6.jpg" class="img-thumbnail" alt="instructor_6">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</main>

<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>

</body>
</html>
{% endblock %}
